/* globals */
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: var(--base);
  color: var(--base-tittle);
}

:root {
  --lime-green: hsl(163, 72%, 41%);
  --bright-red: hsl(356, 69%, 56%);
  --facebook: hsl(195, 100%, 50%);
  --twitter: hsl(203, 89%, 53%);
  --instagram-1: hsl(37, 97%, 70%);
  --instagram-2: hsl(329, 70%, 58%);
  --youtube: hsl(348, 97%, 39%);
  --gray: #b9bac7;
  --card: #f0f3fa;
  --header: #f0f9fa;
  --base-tittle: black;
  --base: white;
  --switch-toggle: white;
  --switch-right: #b9bac7;
  --switch-left: #b9bac7;
}

/* wrapper */
.wrapper {
  padding: 0 30px;
}

/* grid */
.grid {
  display: grid;
  grid-row-gap: 25px;
}

.dark-mode {
  display: flex;
  justify-content: space-between;
  padding-top: 1em;
}

/* switch */

.checkbox {
  display: none;
}

.checkbox:checked ~ .switch::before {
  transform: translateX(40px);
}

.switch {
  height: 40px;
  display: block;
  border-radius: 20px;
  background: var(--gray);
  width: 80px;
  padding: 5px;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
}

.switch::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-color: var(--switch-toggle);
  border-radius: 50%;
  transform: translateX(0px);
  transition: 0.3s;
  will-change: transform;
}

/* header */
.header {
  background: var(--header);
  padding-bottom: 100px;
  border-radius: 0 0 20px 20px;
  padding-top: 2em;
}

.header h1 {
  margin: 0;
  font-size: 1.7em;
}

.header-total {
  color: var(--gray);
  margin: 0.5em 0;
  font-weight: 600;
  border-bottom: 1px solid var(--gray);
  padding-bottom: 1.5em;
}

/* top cards */
.top-cards {
  margin-top: -50px;
  margin-bottom: 3em;
}

/* card */
.card {
  border-radius: 8px;
  overflow: hidden;
  background: var(--card);
  text-align: center;
  padding: 1.7em 0;
  position: relative;
}

.card:before {
  content: "";
  height: 4px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.card.facebook:before {
  background: var(--facebook);
}

.card.twitter:before {
  background: var(--twitter);
}

.card.instagram:before {
  background-image: linear-gradient(
    to right,
    var(--instagram-1) 0%,
    var(--instagram-2) 100%
  );
}

.card.youtube:before {
  background: var(--youtube);
}

.card-tittle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9em;
  font-weight: bold;
  color: var(--gray);
}

.card-tittle-img {
  margin-right: 5px;
}

.card-followers {
}

.card-followers-number {
  font-size: 50px;
  font-weight: 700;
}

.card-followers-tittle {
  display: block;
  text-transform: uppercase;
  color: var(--gray);
  letter-spacing: 5px;
  font-size: 0.75em;
}

.card-today {
  color: var(--lime-green);
  font-size: 0.7em;
  font-weight: bold;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-today img {
  margin-right: 5px;
}

/* overview */

.overview {
  padding-bottom: 2em;
}

.overview h2 {
  color: var(--gray);
}

.card-small {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 1em;
  background: var(--card);
  border-radius: 8px;
  padding: 1.7em;
}

.card-small p {
  margin: 0;
}

.card-small-views {
  color: var(--gray);
  font-weight: bold;
  font-size: 0.9em;
}

.card-small-icon {
  text-align: right;
}

.card-small-number {
  font-weight: bold;
  font-size: 2.5em;
  line-height: 0.9;
}

.card-small-percent {
  text-align: right;
  display: flex;
  align-items: flex-end;
  color: var(--lime-green);
  justify-content: flex-end;
  font-size: 0.8em;
  font-weight: bold;
}

.card-small-percent .is-danger {
  color: var(--bright-red);
}
.card-small-percent span {
  display: flex;
  align-items: center;
}

.card-small-percent img {
  margin-right: 5px;
}

@media screen and (min-width: 480px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;
  }
  .wrapper {
    max-width: 1440px;
    margin: auto;
  }
}

@media screen and (min-width: 768px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 25px;
  }
}

@media screen and (min-width: 1024px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 25px;
  }

  .header-total {
    border: none;
  }
  .header-grid {
    display: grid;
    grid-template-columns: 1fr 200px;
  }
}

.is-dark-mode {
  --card: #252b43;
  --header: #1d2029;
  --gray: #8088ad;
  --base: #1d2029;
  --base-tittle: white;
  --switch-right: #37ce8f;
  --switch-left: #4796d2;
  --switch-toggle: #262b3e;
}

.is-light-mode {
  --gray: #b9bac7;
  --card: #f0f3fa;
  --header: #f0f9fa;
  --base-tittle: black;
  --base: white;
  --switch-toggle: white;
  --switch-right: #b9bac7;
  --switch-left: #b9bac7;
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--base-tittle);
    background: var(--base);
  }
  :root {
    --card: #252b43;
    --header: #1d2029;
    --gray: #8088ad;
    --base: #1d2029;
    --base-tittle: white;
    --switch-right: #37ce8f;
    --switch-left: #4796d2;
    --switch-toggle: #262b3e;
  }

  .card-followers-title {
    color: var(--gray);
  }
  .card-small-views {
    color: var(--gray);
  }

  .switch {
    background-image: linear-gradient(
      to right,
      var(--switch-left) 0%,
      var(--switch-right) 100%
    );
  }

  .switch::before {
    background: var(--switch-toggle);
  }
}
